In [1]:
import numpy as np
import pandas as pd

In [2]:
# テストデータの生成
ts = pd.date_range( '11/1/2019', periods=120, freq='3min' )
df = pd.DataFrame( {"value":np.arange(0,len(ts))}, index=ts )
df["value"] += 1
df.head()

                     value
2019-11-01 00:00:00      1
2019-11-01 00:03:00      2
2019-11-01 00:06:00      3
2019-11-01 00:09:00      4
2019-11-01 00:12:00      5

In [3]:
# indexをカラムに戻して、カラム名を変更する
df = df.reset_index()
df = df.rename( columns={'index': 'time'} )
df.head()

                 time  value
0 2019-11-01 00:00:00      1
1 2019-11-01 00:03:00      2
2 2019-11-01 00:06:00      3
3 2019-11-01 00:09:00      4
4 2019-11-01 00:12:00      5

In [4]:
# 処理しやすいように、時間帯カラム列を追加する
#df['begin'] = df['time'].dt.round("H") # 四捨五入的な丸め？
df['begin'] = df['time'].apply( lambda x : x.replace( minute=0, second=0, microsecond=0 ) )
df.head( 30 )

                  time  value               begin
0  2019-11-01 00:00:00      1 2019-11-01 00:00:00
1  2019-11-01 00:03:00      2 2019-11-01 00:00:00
2  2019-11-01 00:06:00      3 2019-11-01 00:00:00
3  2019-11-01 00:09:00      4 2019-11-01 00:00:00
4  2019-11-01 00:12:00      5 2019-11-01 00:00:00
5  2019-11-01 00:15:00      6 2019-11-01 00:00:00
6  2019-11-01 00:18:00      7 2019-11-01 00:00:00
7  2019-11-01 00:21:00      8 2019-11-01 00:00:00
8  2019-11-01 00:24:00      9 2019-11-01 00:00:00
9  2019-11-01 00:27:00     10 2019-11-01 00:00:00
10 2019-11-01 00:30:00     11 2019-11-01 00:00:00
11 2019-11-01 00:33:00     12 2019-11-01 00:00:00
12 2019-11-01 00:36:00     13 2019-11-01 00:00:00
13 2019-11-01 00:39:00     14 2019-11-01 00:00:00
14 2019-11-01 00:42:00     15 2019-11-01 00:00:00
15 2019-11-01 00:45:00     16 2019-11-01 00:00:00
16 2019-11-01 00:48:00     17 2019-11-01 00:00:00
17 2019-11-01 00:51:00     18 2019-11-01 00:00:00
18 2019-11-01 00:54:00     19 2019-11-01 00:00:00
19 2019-11-01 00:57:00     20 2019-11-01 00:00:00
20 2019-11-01 01:00:00     21 2019-11-01 01:00:00
21 2019-11-01 01:03:00     22 2019-11-01 01:00:00
22 2019-11-01 01:06:00     23 2019-11-01 01:00:00
23 2019-11-01 01:09:00     24 2019-11-01 01:00:00
24 2019-11-01 01:12:00     25 2019-11-01 01:00:00
25 2019-11-01 01:15:00     26 2019-11-01 01:00:00
26 2019-11-01 01:18:00     27 2019-11-01 01:00:00
27 2019-11-01 01:21:00     28 2019-11-01 01:00:00
28 2019-11-01 01:24:00     29 2019-11-01 01:00:00
29 2019-11-01 01:27:00     30 2019-11-01 01:00:00

In [5]:
# タイムスタンプまでの、時間帯ごとの発生回数をカウント、カウント列を追加
#df.apply( lambda x : print(x['time']), axis=1 )
df['count'] = df.apply( lambda x : len( df[ (x['begin']<=df['time']) & (df['time']<=x['time']) ] ), axis=1 )
df.head(30)

                  time  value               begin  count
0  2019-11-01 00:00:00      1 2019-11-01 00:00:00      1
1  2019-11-01 00:03:00      2 2019-11-01 00:00:00      2
2  2019-11-01 00:06:00      3 2019-11-01 00:00:00      3
3  2019-11-01 00:09:00      4 2019-11-01 00:00:00      4
4  2019-11-01 00:12:00      5 2019-11-01 00:00:00      5
5  2019-11-01 00:15:00      6 2019-11-01 00:00:00      6
6  2019-11-01 00:18:00      7 2019-11-01 00:00:00      7
7  2019-11-01 00:21:00      8 2019-11-01 00:00:00      8
8  2019-11-01 00:24:00      9 2019-11-01 00:00:00      9
9  2019-11-01 00:27:00     10 2019-11-01 00:00:00     10
10 2019-11-01 00:30:00     11 2019-11-01 00:00:00     11
11 2019-11-01 00:33:00     12 2019-11-01 00:00:00     12
12 2019-11-01 00:36:00     13 2019-11-01 00:00:00     13
13 2019-11-01 00:39:00     14 2019-11-01 00:00:00     14
14 2019-11-01 00:42:00     15 2019-11-01 00:00:00     15
15 2019-11-01 00:45:00     16 2019-11-01 00:00:00     16
16 2019-11-01 00:48:00     17 2019-11-01 00:00:00     17
17 2019-11-01 00:51:00     18 2019-11-01 00:00:00     18
18 2019-11-01 00:54:00     19 2019-11-01 00:00:00     19
19 2019-11-01 00:57:00     20 2019-11-01 00:00:00     20
20 2019-11-01 01:00:00     21 2019-11-01 01:00:00      1
21 2019-11-01 01:03:00     22 2019-11-01 01:00:00      2
22 2019-11-01 01:06:00     23 2019-11-01 01:00:00      3
23 2019-11-01 01:09:00     24 2019-11-01 01:00:00      4
24 2019-11-01 01:12:00     25 2019-11-01 01:00:00      5
25 2019-11-01 01:15:00     26 2019-11-01 01:00:00      6
26 2019-11-01 01:18:00     27 2019-11-01 01:00:00      7
27 2019-11-01 01:21:00     28 2019-11-01 01:00:00      8
28 2019-11-01 01:24:00     29 2019-11-01 01:00:00      9
29 2019-11-01 01:27:00     30 2019-11-01 01:00:00     10

> 時刻要素をReplace  
> https://python.civic-apps.com/truncated-datetime-from-date/  
> 
> pandasのTimeGrouperで時系列の集計を便利に
> https://qiita.com/takechanman1228/items/00daec6a62f831f24e6d  
> Python pandas アクセサ / Grouperで少し高度なグルーピング/集計  
> http://sinhrks.hatenablog.com/entry/2014/10/30/233606